
h2 {
    color: white;
    margin: auto;
    width: 100%;
    padding: 1.5em;
    text-decoration: underline;

}

h3{
    margin: auto;
    width: 100%;
    padding: 1.5em;
    background-color: #ccc;
    text-align: center;
}
h4{
 color: white;
 text-align:right;
 text-decoration: underline;

}

h5{
    font-style: 'times new roman';
}

h6{
    color: white;
    text-align: center;
}

.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:700;
}

#MATRÄTTER{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    background-color: white;
}


body{
    background-color: white;
}


.container-1{
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: black;
    
}

.container-2{
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
}

@media only screen and (min-width: 960px){

}


.container-1 div, .container-2 div{
    border: 1px black solid;
   
}


.box-1{
    flex:1;
    justify-content: center;

}

.box-2{
    flex:1;
    justify-content: center;

}

.box-3{
    flex:1;
    justify-content: center;
  
}

.box-4{
    flex:1;
    justify-content: center;

}

.box-5{
    flex:1;
    width:20px;
    justify-content: center;
}

.box-6{
    flex:1
}


a{
    text-decoration: non
}


.Kontakt {
    display: flex;
    padding: 20px 15px;
    background-color: #212529;
    text-align: center;
    justify-content: center;
   
}
